<div class="container-fluid h-100 d-flex flex-column">
    <div class="my-auto mx-card">
        <mat-card class="mat-elevation-z4">
            <mat-card-title class="text-center mt-3">WikiBacon - Grafos 1</mat-card-title>
            <mat-card-content>
                <p class="m-0 text-center"> Quer testar o <span matTooltip="Define a quantos graus de distância um ator ou atriz está de Kevin Bacon. Aqui nesse projeto, será a distância entre duas páginas da Wikipedia." style="color: rgb(0, 68, 255)">Nr. de Kevin Bacon</span> entre duas páginas da Wikipedia?  <br> Então, vamos começar.</p>     
                <div class="row p-3">
                    <mat-form-field class="col-lg-4" appearance="outline">
                        <mat-label>Página de Origem</mat-label>
                        <input matInput placeholder="Página de Origem">
                    </mat-form-field>
                    <mat-form-field class="col-lg-4" appearance="outline">
                        <mat-label>Página de Destino</mat-label>
                        <input matInput placeholder="Página de Destino">
                    </mat-form-field>
                    <mat-form-field matTooltip="Digite o máximo da distância que você deseja entre as duas páginas." class="col-lg-4" appearance="outline">
                        <mat-label>Nr. Máximo de Kevin Bacon</mat-label>
                        <input matInput placeholder="Nr. Máximo de Kevin Bacon">
                    </mat-form-field>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 d-flex justify-content-center">
                        <button color="primary" mat-raised-button>Enviar</button>
                    </div>
                </div>
                
            </mat-card-content>
        </mat-card>
    </div>
</div>