<div class="container-fluid h-100 d-flex flex-column">
    <div class="my-auto mx-card">
        <mat-card class="mat-elevation-z4">
            <mat-card-title class="text-center mt-3">WikiBacon - Grafos 1</mat-card-title>
            <mat-card-content>
                <mat-tab-group dynamicHeight [selectedIndex]="selectedIndex">
                    <mat-tab [formGroup]="form" label="Início" class="p-3">
                        <p class="m-0 text-center"> Quer testar o <span
                                matTooltip="Define a quantos graus de distância um ator ou atriz está de Kevin Bacon. Aqui nesse projeto, será a distância entre duas páginas da Wikipedia."
                                style="color: rgb(0, 68, 255)">Nr. de Kevin Bacon</span> entre duas páginas da
                            Wikipedia? <br> Então, vamos começar.</p>
                        <p class="text-center">Por limitação de hardware e da biblioteca utilizada, vamos limitar a
                            busca nos primeiros 5 links de cada página.</p>
                        <div class="row p-3">
                            <mat-form-field class="col-lg-4" appearance="outline">
                                <mat-label>Página de Origem</mat-label>
                                <input formControlName="paginaOrigem" matInput placeholder="Página de Origem">
                            </mat-form-field>
                            <mat-form-field class="col-lg-4" appearance="outline">
                                <mat-label>Página de Destino</mat-label>
                                <input formControlName="paginaDestino" matInput placeholder="Página de Destino">
                            </mat-form-field>
                            <mat-form-field
                                matTooltip="Digite o máximo da distância que você deseja entre as duas páginas."
                                class="col-lg-4" appearance="outline">
                                <mat-label>Nr. Máximo de Kevin Bacon (Máximo: 3 e Mínimo: 1)</mat-label>
                                <input formControlName="camadas" matInput placeholder="Nr. Máximo de Kevin Bacon">
                                <mat-error *ngIf="form.get('camadas')?.invalid">O Número de Camadas deve estar entre 1 e 3</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 d-flex justify-content-center">
                                <button [disabled]="form.invalid||loadingStatus" color="primary" (click)="send()" mat-raised-button>
                                    <div class="d-flex align-items-center gap-2">
                                        {{statusBotao}}
                                        <mat-spinner *ngIf="loadingStatus" [diameter]="15"></mat-spinner>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab class="d-flex justify-content-center" label="Resultado" class="p-3"
                        style="width: 100%; height: 100%">
                        <ngx-graph [panOnZoom]="true" [view]="[1280,720]" [zoomLevel]="0.6" [showMiniMap]="true"
                            [autoCenter]="false" [update$]="update$" [nodes]="nodes" [links]="edges"
                            layout="colaForceDirected" [animate]="false" [enableZoom]="true" [draggingEnabled]="true">
                            <ng-template #defsTemplate>
                                <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4"
                                    markerHeight="4" orient="auto">
                                    <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                                </svg:marker>
                            </ng-template>
                            <ng-template #nodeTemplate let-node>
                                <svg:g class="node">
                                    <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
                                        [attr.fill]="colorNode(node.id)" />
                                    <svg:text [attr.stroke]="colorTextNode(node.id)" alignment-baseline="central"
                                        [attr.x]="10" [attr.y]="node.dimension.height / 2">
                                        {{node.label}}
                                    </svg:text>
                                </svg:g>
                            </ng-template>

                            <ng-template #linkTemplate let-link>

                                <svg:g class="edge">
                                    <svg:path [attr.stroke]="colorEdge(link.id)" class="line" stroke-width="2"
                                        marker-end="url(#arrow)">
                                    </svg:path>
                                    <svg:text class="edge-label" text-anchor="middle">
                                        <textPath class="text-path" [attr.href]="'#' + link.id"
                                            [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                                            {{link.label}}
                                        </textPath>
                                    </svg:text>
                                </svg:g>
                            </ng-template>
                        </ngx-graph>
                    </mat-tab>
                </mat-tab-group>


            </mat-card-content>
        </mat-card>
    </div>
</div>